*{
    padding:0 ;
    margin: 0;
}
body{
    background:url(https://e1.pxfuel.com/desktop-wallpaper/209/1020/desktop-wallpaper-best-5-data-science-backgrounds-on-hip-data-science.jpg);
}
.table{
    overflow: auto;
}
.img-link{
    width: 1rem;
    height: 1rem;
}
.img-link2{
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1rem;
}
.cap{
    color: #ffff;
    font-weight: 800;
    font-size: 2rem;
}